page-transfer-detail {
    .monto-transfer{
        color: #ffffff;
        background-color: #03ab03;
        font-size: xx-large;
        border-radius: 50%;
        padding: 7% 0% 7% 0%;
        margin: 0% 30% 0% 30%;
    }
    .message-transfer{
        font-size: large;
        color: gray;
    }
}
