<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle de envío</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center>
  <div *ngIf="transferDetail?.Transferencia.soy == 'remitente'">
    <h3>Transferencia para: </h3>
    <h3>{{transferDetail?.Transferencia.nombre_destinatario}}</h3>
    <p color="light-grey">{{transferDetail?.Transferencia.celular_destinatario}}</p>
  </div>
  <div *ngIf="transferDetail?.Transferencia.soy == 'destinatario'">
    <h3 *ngIf="transferDetail?.Remitente.nombre">Transferencia de: {{transferDetail?.Remitente.nombre + ' ' + transferDetail?.Remitente.apellido_paterno}}</h3>
    <span *ngIf="transferDetail?.Transferencia.celular_remitente">Celular: {{transferDetail?.Transferencia.celular_remitente}}</span>
  </div>
  <div padding>
    <h1 color="success">${{transferDetail?.Transferencia.monto}}.00</h1>
    <h2 color="primary">{{transferDetail?.Transferencia.descripcion}}</h2>

  <p>Expira el {{transferDetail?.Transferencia.expira}}</p>

  <p>Esta transferencia está {{transferDetail?.EstatusTransferencias.nombre}}</p>


  <button margin-bottom
          margin-top
          ion-button
          block
          (click)="doRadio()"
          *ngIf="transferDetail?.Transferencia.soy == 'destinatario' && transferDetail?.EstatusTransferencias.id == 1">Cobrar</button>

  <button margin-bottom
          margin-top
          ion-button
          block
          color="danger"
          [disabled]="transferDetail?.EstatusTransferencias.id != 1"
          (click)="onCancel()">Cancelar</button>
  </div>

</ion-content>
