<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cuentas bancarias</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="list-avatar-page">
  <ion-list>

    <!--activas, utilizables-->
    <div *ngFor="let listBankAccounts of banks">
      <div *ngIf="listBankAccounts.CuentaBancaria.estatus == 'activa'">
        <ion-item-sliding >
          <ion-item  >
                <h2 >
                  {{listBankAccounts.CuentaBancaria.nombre}}
                </h2>
                <h3 ion-text color="light-grey">
                  {{listBankAccounts.CuentaBancaria.titular_nombre}}  {{listBankAccounts.CuentaBancaria.titular_apellidos}}
                </h3>
                <ion-icon name="done-all" item-right color="success"></ion-icon>
          </ion-item>
          <ion-item-options >
            <button ion-button color="danger" icon-left  (click)="bankAccountDelete(listBankAccounts.CuentaBancaria.id)">
              <ion-icon  md="md-trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding >
      </div>
    </div>

    <!--Requiere accion del usuario -->
    <div *ngFor="let listBankAccounts of banks">
      <div *ngIf="listBankAccounts.CuentaBancaria.estatus == 'por validar'">
        <ion-item-sliding >
          <ion-item (click)="gotoValidate(listBankAccounts.CuentaBancaria.id)">
                <h1   >
                  {{listBankAccounts.CuentaBancaria.nombre}}
                </h1>
                <h3 ion-text color="light-grey" >
                  {{listBankAccounts.CuentaBancaria.titular_nombre}}  {{listBankAccounts.CuentaBancaria.titular_apellidos}}
                </h3>
                <ion-icon name="checkmark" item-right color="warning"></ion-icon>
          </ion-item>
          <ion-item-options >
            <button ion-button color="danger" icon-left  (click)="bankAccountDelete(listBankAccounts.CuentaBancaria.id)">
              <ion-icon  md="md-trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding >
      </div>
    </div>


    <!--en proceso-->
    <div *ngFor="let listBankAccounts of banks">
      <div *ngIf="listBankAccounts.CuentaBancaria.estatus == 'en proceso'">
        <ion-item-sliding >
          <ion-item>
                <h2 color="light-grey" >
                  {{listBankAccounts.CuentaBancaria.nombre}}
                </h2>
                <h3 ion-text color="light-grey" >
                  {{listBankAccounts.CuentaBancaria.titular_nombre}}  {{listBankAccounts.CuentaBancaria.titular_apellidos}}
                </h3>
                <ion-icon name="sync" item-right color="light-grey"></ion-icon>
          </ion-item>
          <ion-item-options >
            <button ion-button color="danger" icon-left  (click)="bankAccountDelete(listBankAccounts.CuentaBancaria.id)">
              <ion-icon  md="md-trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding >
      </div>
    </div>

    <!--con error -->
    <div *ngFor="let listBankAccounts of banks">
      <div *ngIf="listBankAccounts.CuentaBancaria.estatus == 'con error'">
        <ion-item-sliding >
          <ion-item>
                <h2 color="light-grey" >
                  {{listBankAccounts.CuentaBancaria.nombre}}
                </h2>
                <h3 ion-text color="light-grey" >
                  {{listBankAccounts.CuentaBancaria.titular_nombre}}  {{listBankAccounts.CuentaBancaria.titular_apellidos}}
                </h3>
                <ion-icon name="warning" item-right color="danger"></ion-icon>
          </ion-item>
          <ion-item-options >
            <button ion-button color="danger" icon-left  (click)="bankAccountDelete(listBankAccounts.CuentaBancaria.id)">
              <ion-icon  md="md-trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding >
      </div>
    </div>
    
  </ion-list>

  <ion-fab bottom right margin>
    <button ion-fab (click)="gotoAddBank()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>
