page-debts-history {
    .list-avatar-page {
        ion-note {
            font-size: 12px;
            align-self: flex-start;
            margin-top: 14px;
        }
    }
    .badge{
        border-radius: 11px;
        font-size: 12px;
    }

    .icon-arrow{
        position: absolute;
        right: 13%;
        margin-top: 12% !important;
    }


    ion-list:first-child {
    margin-top: 32px;
    }
    ion-list + ion-list {
        margin-top: 0;
    }

    .filters{
        background-color: color($colors, primary);
        color: white;
    }
    .filters-span{
            margin-top: 3%;
    position: absolute;
    right: 57%;
    }

    .filters-iondatetime{
            position: relative;
    right: -42%;
    margin-top: 0% !important;
    }

    .h2-right{
        position: absolute;
        right: 4%;
        margin-top: -8%;
    }
    .fechaVencimiento{
        position: absolute;
    right: 4%;
    margin-top: 0%;
    }

    .nombreServicio{
        margin-top: 6%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 72%;
    }

    .note{
        color: #8e8e8e;
    }
    h5{
        color: #8e8e8e;
    }
}
