page-debts-pdf {
    .hint-modal-content {
        background-color: rgba(0, 0, 0, 0.8);
        .hint-close-icon{
            position: absolute;
            right: 6%;
            top: 2%;
            color: color($colors, danger);
            font-size: xx-large;
        }
        .hint-pdf{
            margin-top: 20%;
            width: 100%;
        }
    }
}
