page-payment-history {
    .filters{
       background-color: #25a7df ;
       color: white;
   }
    .filters-span{
           margin-top: 3%;
   position: absolute;
   right: 57%;
   }

    .filters-iondatetime{
           position: relative;
   right: -42%;
   margin-top: 0% !important;
   }
}
