<ion-header>

  <ion-navbar color="primary">
    <ion-title>Notificaciones</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <ion-item no-lines >
              <ion-label>
                <h2>Seleccionar Todos</h2>
              </ion-label>
              <ion-checkbox color="primary" checked="false" (click)="allCheck()" [(ngModel)]="activate"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col center text-center> 
          <button ion-button icon-only clear (click)="onDeleteNotification()">
            <ion-icon name="ios-trash-outline" color="danger"></ion-icon>
          </button> 
      </ion-col>  
    </ion-row>  
  </div>
  <hr>
  <div *ngIf="check == false"> 
    <div *ngFor="let notification of notifications" >
      <ion-item *ngIf="notification.Notificacion.leida == true" (click)="notificationSelected(notification.Notificacion.id)" (longPress)="showActionSheet(object)">
          <h1 >
            {{ notification.Notificacion.asunto }}
          </h1>
          <p>{{ notification.Notificacion.created }}</p>
          <ion-icon name="md-done-all" item-right color="primary"></ion-icon>
      </ion-item>  
      <ion-item *ngIf="notification.Notificacion.leida == false" (click)="notificationSelected(notification.Notificacion.id)" class="lemon" (longPress)="showActionSheet(object)">
          <h1> 
            {{ notification.Notificacion.asunto }}
          </h1>
          <p>{{ notification.Notificacion.created }}</p>
          <ion-icon name="md-checkmark" item-right color="primary"></ion-icon>
      </ion-item>
    </div>
  </div>
  <!--checksboxes-->
  <div *ngIf="check == true">
      <div *ngFor="let notification of notifications" >
        <ion-item *ngIf="notification.Notificacion.leida == true" (longPress)="showActionSheet(object)">
            <ion-label>
              <h1 color="primary">
                {{ notification.Notificacion.asunto }}
              </h1>
              <p>{{ notification.Notificacion.created }}</p>
            </ion-label>
            <ion-icon name="md-done-all" item-right color="primary"></ion-icon>
            <ion-checkbox checked="{{activate}}" [(ngModel)]="notification.Notificacion.selected"></ion-checkbox>
        </ion-item>  
        <ion-item *ngIf="notification.Notificacion.leida == false"  class="lemon" (longPress)="showActionSheet(object)">
            <ion-label>
              <h1 color="primary">
                {{ notification.Notificacion.asunto }}
              </h1>
              <p>{{ notification.Notificacion.created }}</p>
            </ion-label>
            <ion-icon name="md-checkmark" item-right color="primary"></ion-icon>
            <ion-checkbox checked="{{activate}}"  [(ngModel)]="notification.Notificacion.selected" ></ion-checkbox>
        </ion-item>
      </div>  
  </div>
</ion-content>

