page-modal-hint {
    .hint-modal-content {
        background-color: rgba(0, 0, 0, 0.8);
        .hint-text{
            color: white;
            font-size: large;
        }
        .hint-close-icon{
            position: absolute;
            right: 6%;
            top: 2%;
            color: color($colors, danger);
            font-size: xx-large;
        }
        .hint-img{
            width: 100%;
        }
    }
}
