<ion-header>

  <ion-navbar color="primary">
    <ion-title>Movimientos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item color="primary">
        <ion-select color="light" placeholder="Todos" interface="popover" (ionChange)="onChangeStatus($event)">
        <ion-option value="" [selected]="true">Todos</ion-option>
        <ion-option value="1">Pendientes</ion-option>
        <ion-option value="2">En proceso</ion-option>
        <ion-option value="3">Cancelados</ion-option>
        <ion-option value="4">Rechazados</ion-option>
        <ion-option value="5">Vencidos</ion-option>
        <ion-option value="6">Cobrados</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
   <div *ngFor="let transfer of transferList?.Transferencias">
    <ion-card (click)="onViewDetail(transfer.Transferencia.id)"> 
      <ion-card-content class="no-bottom-padding">
        <ion-row>
          <ion-col class="no-bottom-padding"> 
            <ion-icon *ngIf="transfer.Transferencia.soy == 'remitente'" color="primary" class="right-icon" name="log-out"></ion-icon>
            <ion-icon *ngIf="transfer.Transferencia.soy == 'destinatario'" color="primary" class="right-icon flip-horizontal" name="log-in"></ion-icon>
            <span><h2><strong>{{transfer.Transferencia.nombre_destinatario}}</strong></h2></span> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="no-top-padding"> 
            <span>{{transfer.Transferencia.celular_destinatario}}</span>
          </ion-col>
          <ion-col class="right-align no-top-padding">
            <span class="monto">${{transfer.Transferencia.monto}}</span> 
            <br>
            <span color="light-grey">Vence: {{transfer.Transferencia.expira}}</span>
          </ion-col>
        </ion-row>
        <ion-row [ngClass]="{ 
          'pending-transfer': transfer.EstatusTransferencias.id == 1,
         'inProcess-transfer': transfer.EstatusTransferencias.id == 2, 
         'canceled-transfer': transfer.EstatusTransferencias.id == 3, 
         'rejected-transfer': transfer.EstatusTransferencias.id == 4,
         'expired-transfer': transfer.EstatusTransferencias.id == 5,
         'collected-transfer': transfer.EstatusTransferencias.id == 6 
         }">
          <ion-col class="right-align"> 
            <span text-capitalize>{{transfer.EstatusTransferencias.nombre}}</span> 
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
